// Color variables
$primary-color: #795908;
$secondary-color: #412E00;
$tertiary-color: #9BAA97;

$light-color:#DAB15C;
$light-color-2:#FFF8F2;

$dark-color: #807666;
$dark-color-2: #1F1B13;

$audio-unplayed-color: #E0D9CF;
$audio-played-color: #A8BAA5;

$text-color:#1F1B15;
$text-color-2:#0C341C;

$tab-item-bg-color: #A8BAA5;
$tab-item-color: #1D2D1E;

$border-color: #807666;


//font family
$primary-heading-family: "Mtd-blaze-glory",
Helvetica,
sans-serif;
$heading-family: "Myriad-pro-semibold",
Helvetica,
sans-serif;
$small-heading-family: "Myriad-pro",
Helvetica,
sans-serif;
$text-family: "Myriad-pro-light",
Helvetica,
sans-serif;

/* Gaps */
$gap-0: 0rem;
$gap-xs: 2rem;
$gap-base: 4rem;
$gap-md: 8rem;
$gap-lg: 12rem;
$gap-xl: 16rem;
$gap-xxl: 20rem;

/* Number Variables */
$Space-3: 6rem;
$Space-5: 10rem;
$Medium: 10rem;
$Large: 20rem;


/* Priority display for z-index */
$priority-one: 1;
$priority-two: 2;
$priority-three: 3;
$priority-four: 4;
$priority-medium: 9;
$priority-high: 99;
$priority-super: 999;
$priority-max: 9999;